{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin 2 - Login</title>
    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
<body class="bg-gradient-primary">
<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item w-25 p-1 active">
                                <a class="nav-link" href="{% url 'index' 'mlp' %}"><img src="{% static 'img/logo.png' %}"
                                                                                  class="img-thumbnail ">
                                    <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Predicción
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{% url 'perceptron' %}">Crear modelo Redes
                                        Neuronales</a>
                                    <a class="dropdown-item" href="{% url 'arbol' %}">Crear modelo Arbol de decision</a>
                                    <a class="dropdown-item" href="{% url 'index' 'mlp' %}">Predecir con Redes Neuronales</a>
                                    <a class="dropdown-item" href="{% url 'index' 'otros' %}">Predecir con Arbol de decision</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="{% url 'promedio' %}" id="navbarDropdown2" role="button"
                                   data-toggle="dropdown-item" aria-haspopup="true" aria-expanded="false">
                                    Rutas
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="p-5">
                    {% block html %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<!-- Custom scripts for all pages-->
<script src="{% static 's/sb-admin-2.min.js' %}"></script>
{% block script %}
{% endblock %}
</body>
</html>