{% extends 'abandoCurso/base.html' %}
{% load static %}
{% block script %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['evento', 'estudiante'],
          ['semana 1',  {{a1.0}}],
          ['semana 2',  {{a1.1}}],
          ['semana 3',  {{a1.2}}],
          ['semana 4',  {{a1.3}}],
          ['semana 5',  {{a1.4}}],
            ['semana 6',  {{a1.5}}]
        ]);

        var options = {
          title: 'Estudiante - interaccion',
          hAxis: {title: 'Semana',  titleTextStyle: {color: '#333'}},
          vAxis: {minValue: 0}
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
{% endblock %}

{% block html %}
 <div>
        <img src="{% static 'img/logo.png' %}" alt="My image">
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button>OK</button>
        </form>
    </div>
<div id="chart_div" style="width: 100%; height: 500px;"></div>

{% endblock %}
