{% extends 'abandoCurso/base.html' %}
{% load static %}
{% block script %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {'packages': ['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    google.charts.setOnLoadCallback(drawChart2);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Task', 'Hours per Day'],
            ['Aprobados', {{pasa}} ],
            ['Abandona', {{aban}} ],
            ['Reprobados', {{rep}}] ]);
        var options = {title: 'Interacciones Usuario-Evento'};
        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
    }
</script>
{% endblock %}

{% block html %}

<div class="card shadow">
    <div class="container">
        <div class="row">
            <div class="col">
                {% if slug == 'mlp' %}
                <p class="h2 text-center">Redes Neuronales</p>
                {% else %}
                <p class="h2 text-center">Arbol de decision</p>
                {% endif %}

                <form action="{% url 'index' slug %}" method="POST" enctype="multipart/form-data" class="form-horizontal">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for='name'
                               class="col-md-3 col-sm-3 col-xs-12 control-label">File: </label>
                        <div class="col-md-8">
                            <input type="file" name="csv_file" id="csv_file" required="True"
                                   class="form-control">
                        </div>
                    </div>

                    <button class="btn btn-primary"><span class="glyphicon glyphicon-upload"
                                                          style="margin-right:5px;"></span>Upload
                    </button>
                </form>
                <div id="piechart" style="width: 1000px; height: 200px;">
                </div>
            </div>
        </div>
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Tabla de Rutas</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        {% for unico in cabecera %}
                        <th>{{ unico }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        {% for unico in cabecera %}
                        <th>{{ unico }}</th>
                        {% endfor %}
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for nombre in cursos %}
                    <tr class="{% if nombre.estado == 'downloadable' %} table-success
                {% elif nombre.estado == 'dropout'%} table-dark
                {% else %} table-danger {% endif %}">
                        <td>{{ nombre.user_id }}</td>
                        <td>{{ nombre.1 }}</td>
                        <td>{{ nombre.2 }}</td>
                        <td>{{ nombre.3 }}</td>
                        <td>{{ nombre.4 }}</td>
                        <td>{{ nombre.7 }}</td>
                        <td>{{ nombre.estado }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    {% endblock %}