{% extends 'abandoCurso/base.html' %}
{% load static %}
{% block script %}
{% endblock %}
{% block html %}

<form action="{% url 'optima' %}" method="POST" enctype="multipart/form-data" class="form-horizontal">
    {% csrf_token %}
    {{ form }}
    <button class="btn btn-primary"><span class="glyphicon glyphicon-upload"
                                          style="margin-right:3px;"></span>Ingresar
    </button>
</form>

<div class="card shadow">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Tabla de Rutas</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    {% for unico in cabecera %}
                    <th>{{ unico }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tfoot>
                <tr>
                    {% for unico in cabecera %}
                    <th>{{ unico }}</th>
                    {% endfor %}
                </tr>
                </tfoot>
                <tbody>
                {% for nombre in cursos %}
                <tr class="{% if nombre.estado == 'downloadable' %} table-success {% else %} table-danger {% endif %}">
                    <td>{{ nombre.user_id }}</td>
                    <td>{{ nombre.1 }}</td>
                    <td>{{ nombre.2 }}</td>
                    <td>{{ nombre.3 }}</td>
                    <td>{{ nombre.4 }}</td>
                    <td>{{ nombre.7 }}</td>
                    <td>{{ nombre.suma }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
