{% extends 'abandoCurso/base.html' %}
{% load static %}
{% block script %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {'packages': ['bar']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Semanas', 'Eventos'],
            ['sem1', {{sem1}
    }],
        ['sem2', {{sem2}
    }],
        ['sem3', {{sem3}
    }],
        ['sem4', {{sem4}
    }],
        ['sem5', {{sem5}
    }],
        ['sem6', {{sem6}
    }],
    ])
        ;
        var options = {
            chart: {
                title: 'Interacciones Semana-Evento',
            }
        };
        var chart = new google.charts.Bar(document.getElementById('columnchart_material'));
        chart.draw(data, google.charts.Bar.convertOptions(options));
    }
</script>
<script>
  //Creamos un evento para el botón
  $("#graficas").click(function(){
    //Al pulsar el botón actualiza la página
    location.reload();
  });
</script>
{% endblock %}

{% block html %}

<div class="card shadow">
    <div class="container">
        <div class="row">

            <div class="col">
                 <form action="{% url 'promedio' %}" method="POST" enctype="multipart/form-data" class="form-horizontal">
                {% csrf_token %}
                <div class="form-group">
                    <label for='name'
                           class="col-md-3 col-sm-3 col-xs-12 control-label">File: </label>
                    <div class="col-md-8">
                        <input type="file" name="csv_file" id="csv_file" required="True"
                               class="form-control">
                    </div>
                </div>

                <button class="btn btn-primary"><span class="glyphicon glyphicon-upload"
                                                      style="margin-right:5px;"></span>Upload
                </button>
            </form>
                {% if mostrar == True %}
                <div class="row" id="graficas">
                    <div class="col-sm"><b>Semana 1</b>
                        <hr>
                        <img src="{% static 'img/sema1.png' %}" class="img-fluid" alt="Responsive image"></div>
                    <div class="col-sm"><b>Semana 2</b>
                        <hr>
                        <img src="{% static 'img/sema2.png' %}" class="img-fluid" alt="Responsive image"></div>
                    <div class="col-sm"><b>Semana 3</b>
                        <hr>
                        <img src="{% static 'img/sema3.png' %}" class="img-fluid" alt="Responsive image"></div>
                    <div class="w-100"></div>
                    <div class="col-sm"><b>Semana 4</b>
                        <hr>
                        <img src="{% static 'img/sema4.png' %}" class="img-fluid" alt="Responsive image"></div>
                    <div class="col-sm"><b>Semana 5</b>
                        <hr>
                        <img src="{% static 'img/sema5.png' %}" class="img-fluid" alt="Responsive image"></div>
                    <div class="col-sm"><b>Semana 6</b>
                        <hr>
                        <img src="{% static 'img/sema6.png' %}" class="img-fluid" alt="Responsive image"></div>
                </div>
                {% endif %}
                <div id="columnchart_material" style="width: 100%; height: 200px;">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
